<div class="container">
  <%= render "layouts/header" %>
  <%= render "goginara/buy_product" %>
  
  <%= form_for(@buy_information) do |f| %>
    <% if @buy_information.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@buy_information.errors.count, "error") %> prohibited this buy_information from being saved:</h2>
        <ul>
        <% @buy_information.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row g-mt-100">
      <h3 style="border-bottom: 1px solid #5F4A0B; width: 100%;">배송지 정보</h3>
      <div class="field g-mb-20 g-mt-50">
        <%= f.label :user, "받으시는분 " %>
        <%= f.text_field :user %>
      </div>
      <div class="field g-mb-20">
        <div class="input-group">
          <%= f.label :postcodify_postcode, "주 소 " %>
          <%= f.text_field :postcodify_postcode, class: "postcodify_postcode5", readonly: "" %>
          <span>
          <button type="button" id="postcodify_search_button">우편번호 검색하기</button>
          </span>
        </div><!-- /input-group -->
      </div>
      <div class="field g-mb-20">
        <div class="input-group">
          <%= f.label :postcodify_address,  "도로명 주소 " %>
          <%= f.text_field :postcodify_address, class: "postcodify_address form-control", readonly: "" %>
        </div><!-- /input-group -->
      </div>
      <div class="field g-mb-20">
        <div class="input-group">
          <%= f.label :postcodify_details, "상세 주소 " %>
          <%= f.text_field :postcodify_details, class: "postcodify_details form-control" %>
        </div><!-- /input-group -->
      </div>
      <div class="field g-mb-20">
        <%= f.label :phonenumber, "연락처 " %>
        <%= f.text_field :phonenumber %>
      </div>
      <div class="field g-mb-20">
        <%= f.label :email, "이메일 주소 " %>
        <%= f.text_field :email %>
      </div>
      <div class="field g-mb-20">
        <%= f.label :requirement, "배송시 요청사항을 적어주세요." %>
        <%= f.text_field :requirement, class: "form-control" %>
      </div>
    </div>
  <% end %>
  <%= render "layouts/footer" %>
</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<script> 
$(function() { 
  $("#postcodify_search_button").postcodifyPopUp(); 
  $('#file').change(function() {
    $('#image').val($(this).val());
  });
  }); 
</script>