<div class="container">
<%= render "layouts/header" %>
<%= form_for(@meat) do |f| %>
  <% if @meat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meat.errors.count, "error") %> prohibited this meat from being saved:</h2>

      <ul>
      <% @meat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="row text-center g-mt-20 g-mb-20">
	  <div class="col-md-10 col-md-offset-1 border-box">
		<h2>상품 등록하기</h2>
		<label class="input login-input g-mt-20">
	      <div class="input-group">
	      	<span class="input-group-addon"><i class="fa fa-check"></i></span>
	      	<%= f.collection_select :category_id, Category.all, :id, :name, {:include_blank => '상품 종류 선택'}, {:class => 'form-control'} %>
	    	</div>
	  	</label>
			<label class="input login-input g-mt-20">
	      <div class="input-group">
	      	<span class="input-group-addon"><i class="fa fa-check"></i></span>
	      	<%= f.text_field :title, autofocus: false, class: "form-control", placeholder: "상품이름" %>
	    	</div>
	  	</label>
	  	<label class="input login-input g-mt-20">
	      <div class="input-group">
	      	<span class="input-group-addon"><i class="fa fa-check"></i></span>
	      	<%= f.text_field :maker, autofocus: false, class: "form-control", placeholder: "제조사" %>
	    	</div>
	  	</label>
	  	<label class="input login-input g-mt-20">
	      <div class="input-group">
	      	<span class="input-group-addon"><i class="fa fa-check"></i></span>
	      	<%= f.text_field :origin, autofocus: false, class: "form-control", placeholder: "원산지" %>
	    	</div>
	  	</label>
	  	<label class="input login-input g-mt-20">
	      <div class="input-group">
	      	<span class="input-group-addon"><i class="fa fa-check"></i></span>
	      	<%= f.text_field :weight, autofocus: false, class: "form-control", placeholder: "중량" %>
	    	</div>
	  	</label>
	  	<label class="input login-input g-mt-20">
	      <div class="input-group">
	      	<span class="input-group-addon"><i class="fa fa-check"></i></span>
	      	<%= f.text_field :life, autofocus: false, class: "form-control", placeholder: "유통기한" %>
	    	</div>
	  	</label>
	  	<label class="input login-input g-mt-20">
	      <div class="input-group">
	      	<span class="input-group-addon"><i class="fa fa-check"></i></span>
	      	<%= f.text_field :price, autofocus: false, class: "form-control", placeholder: "가격" %>
	    	</div>
	  	</label>
	  	<div class="row g-mb-20 g-mt-20">
  	  	<div class="col-md-6 actions">
  	    	<%= f.submit "등록하기", class: "btn-u btn-devise g-mb-20" %>
  	  	</div>
  	  	<div class="g-mb-20 col-md-6">
  	  	  <%= link_to '돌아가기', meats_path, class: "btn-u btn-devise g-mb-20" %>
  	  	</div>
  	  </div>
	  </div>
	</div>
	<% end %>
<%= render "layouts/footer" %>
</div>