        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><strong>한우 인기상품</strong></h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 gogi-item">
                <a href="#">
                    <img class="img-responsive" src='<%= asset_path "gogi.jpg" %>' alt="">
                </a>
                <div class="item-information">
                <h3 class="product-name g-ml-10">한우 1++ 살치살</h3>
                <h3 class="g-mr-10" style="text-align:right"><i class="fa fa-krw" aria-hidden="true"></i>59,000</h3>
                </div>
            </div>
            <div class="col-md-4 gogi-item">
                <a href="#">
                    <img class="img-responsive" src='<%= asset_path "gogi2.jpg" %>' alt="">
                </a>
                <div class="item-information">
                	<h3 class="product-name g-ml-10">한우 1++ LA갈비</h3>
                	<h3 class="g-mr-10" style="text-align:right"><i class="fa fa-krw" aria-hidden="true"></i>59,000</h3>
                </div>
            </div>
            <div class="col-md-4 gogi-item">
                <a href="#">
                    <img class="img-responsive" src='<%= asset_path "gogi3.jpg" %>' alt="">
                </a>
                <div class="item-information">
	                <h3 class="product-name g-ml-10">한우 1++ 종합세트</h3>
	                <h3 class="g-mr-10" style="text-align:right"><i class="fa fa-krw" aria-hidden="true"></i>59,000</h3>
                </div>
            </div>
        </div><br>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><strong>한돈 인기상품</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 gogi-item">
                <a href="#">
                    <img class="img-responsive" src='<%= asset_path "pork1.jpg" %>' alt="">
                </a>
                <div class="item-information">
                    <h3 class="product-name g-ml-10">한돈 목살 세트</h3>
                <h3 class="g-mr-10" style="text-align:right"><i class="fa fa-krw" aria-hidden="true"></i>29,900</h3>
                </div>
            </div>
            <div class="col-md-4 gogi-item">
                <a href="#">
                    <img class="img-responsive" src='<%= asset_path "pork2.jpg" %>' alt="">
                </a>
                <div class="item-information">
                    <h3 class="product-name g-ml-10">한돈 삼겹살 세트</h3>
                <h3 class="g-mr-10" style="text-align:right"><i class="fa fa-krw" aria-hidden="true"></i>29,900</h3>
                </div>
            </div>
            <div class="col-md-4 gogi-item">
                <a href="#">
                    <img class="img-responsive" src='<%= asset_path "pork3.jpg" %>' alt="">
                </a>
                <div class="item-information">
                    <h3 class="product-name g-ml-10">한돈 왕갈비 세트</h3>
                <h3 class="g-mr-10" style="text-align:right"><i class="fa fa-krw" aria-hidden="true"></i>35,000</h3>
                </div>
            </div>
        </div><br>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><strong>양념육/캠핑 인기상품</strong></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 gogi-item">
                <a href="#">
                    <img class="img-responsive" src='<%= asset_path "camp1.jpg" %>' alt="">
                </a>
                <div class="item-information">
                    <h3 class="product-name g-ml-10">캠핑 한판 세트</h3>
                <h3 class="g-mr-10" style="text-align:right"><i class="fa fa-krw" aria-hidden="true"></i>19,900</h3>
                </div>
            </div>
            <div class="col-md-4 gogi-item">
                <a href="#">
                    <img class="img-responsive" src='<%= asset_path "camp2.jpg" %>' alt="">
                </a>
                <div class="item-information">
                    <h3 class="product-name g-ml-10">한돈 양념갈비 세트</h3>
                <h3 class="g-mr-10" style="text-align:right"><i class="fa fa-krw" aria-hidden="true"></i>29,900</h3>
                </div>
            </div>
            <div class="col-md-4 gogi-item">
                <a href="#">
                    <img class="img-responsive" src='<%= asset_path "camp3.jpg" %>' alt="">
                </a>
                <div class="item-information">
                    <h3 class="product-name g-ml-10">한돈 고추장삼겹살 세트</h3>
                <h3 class="g-mr-10" style="text-align:right"><i class="fa fa-krw" aria-hidden="true"></i>29,900</h3>
                </div>
            </div>
        </div>