<div class="container">
<%= render "layouts/header" %>
  <div class="row g-mt-50">
      <div class="col-md-6">
      <%= render "contact_gmap" %>
      </div>
      <div class="col-md-6">
      <%= render "contact_massage" %>    
      </div>
  </div>
  
  <div class="row g-mt-50">
    <%= render "contact_warning" %>
  </div>
<%= render "layouts/footer" %>
</div>