<div class="container">
  <%= render "layouts/header" %>
  <div class="shop-product g-mt-50">
		<div class="container">
			<div class="row">
			  <div><h1>상품 상세보기</h1><hr></div>
				<div class="col-md-8 g-mb-50">
				  <div>
					  <img class="img-responsive" src='<%= asset_path "cow#{@cow.id}.jpg" %>' alt="">
				  </div>
				</div>

				<div class="col-md-4">
					<div class="product-name">
						<h1><b><%= @cow.title %></b></h1>
					</div>

					<p>농협에서 구입한 1++ 등급의한우를<strong> 한 번 더 손질하여 </strong>기름기 적고 질 좋은 고기를 드리기 위해 고기나라는 항상 노력하고 있습니다.</p><br>
          			<div class="g-mb-40">
						<p><i class="fa fa-check-square-o" aria-hidden="true"></i> 제조사: <b><%= @cow.maker %></b></p>
						<p><i class="fa fa-check-square-o" aria-hidden="true"></i> 원산지: <b><%= @cow.origin %></b></p>
						<p><i class="fa fa-check-square-o" aria-hidden="true"></i> 유통기한: <b><%= @cow.life %></b></p>
						<p><i class="fa fa-check-square-o" aria-hidden="true"></i> 수령방법: <b>택배 / 방문수령</b></p>
						<p><i class="fa fa-check-square-o" aria-hidden="true"></i> 중량: <b><%= @cow.weight %></b></p>
						<p><i class="fa fa-check-square-o" aria-hidden="true"></i> 가격: <b><%= @cow.price %>원</b></p>
						<p><i class="fa fa-check-square-o" aria-hidden="true"></i> 배송비: <b>3,000원</b></p>
					</div>
					  <a href="#"><button type="button" class="btn-u btn-u-sea-shop btn-p-buy"><i class="fa fa-shopping-cart" aria-hidden="true"> 주문하기</i></button></a>
				  
				</div>
			</div><!--/end row--><hr>
			<div class="text-center">
				<h1><b>'고기나라'</b>는<br> 농협에서 직접 공수 한 1+등급의 한우를<br> <b class="item-text">한 번 더 직접 손질하여 기름기를 제거하고 최상의 상태로</b> <br>고객님들께 맛있는 고기를 제공하고자 노력하고 있습니다</h1>
			</div>
			<div class="row">
				<div class="col-md-12">
					<img class="img-responsive" style="width:100%;" src='<%= asset_path "cow#{@cow.id}.jpg" %>' alt="">
				</div>
				<div class="col-md-6">
					<img class="img-responsive" src='<%= asset_path "cow-maker.jpg" %>' alt="">
				</div>
				<div class="col-md-6">
					<img class="img-responsive" src='<%= asset_path "cow-maker2.jpg" %>' alt="">
				</div>
			</div><hr>
			<div class="col-md-12">
				<img class="img-responsive" src='<%= asset_path "cow-icon.png" %>' alt=""><hr>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src='<%= asset_path "deliver.jpg" %>' alt="">
				</div>
				<div class="col-md-6">
					<h1>배송시 주의사항</h1>
					<h3>1. content content content</h3>
					<h3>1. content content content</h3>
					<h3>1. content content content</h3>
					<h3>1. content content content</h3>
				</div>
		</div>
	</div>
<%= render "layouts/footer" %>
</div>
