<div class="header-fixed header-fixed-space">
	<div class="wrapper">
		<div class="header-v4">
			<div class="topbar-v1">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-6">
							<ul class="list-inline top-v1-data">
							  <% if user_signed_in? %>
							    <li><%= current_user.email %></li> |
							    <% if current_user.id == 1 %>
							      <li>관리자페이지 |</li>
							    <% else %>
								    <li><a href="#">장바구니</a></li> |
								  <% end %>
								  <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "로그아웃 하시겠습니까?" } %></li>
								<% else %>
  								<li><a href="/users/sign_in">로그인</a></li> |
  								<li><a href="/users/sign_up">회원가입</a></li>
								<% end %>
								 | <li><a href="#">장바구니</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="navbar navbar-default mega-menu" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">
							<img id="logo-header" src='<%= asset_path "logo1.png" %>' alt="Logo">
						</a>

						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="full-width-menu">메뉴</span>
							<span class="icon-toggle">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</span>
						</button>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="collapse navbar-collapse navbar-responsive-collapse header-v4 header-sticky">
					<div class="container">
						<ul class="nav navbar-nav">
							<li>
							  <%= link_to '한우', meats_path(category_id: 1) %>
							</li>
							<li>
								<%= link_to '한돈', meats_path(category_id: 2) %>
							</li>
							<li>
									<%= link_to '수입육', meats_path(category_id: 3) %>
								</a>
							</li>
							<li>
									<%= link_to '양념육/캠핑세트', meats_path(category_id: 4) %>
								</a>
							</li>
							<li>
									<%= link_to '이바지/선물세트', meats_path(category_id: 5) %>
								</a>
							</li>
							<li>
								<a href="/contact">
									문의하기
								</a>
							</li>
							<li>
								<a href="javascript:void(0);">
									주문하기
								</a>
							</li>
							<!-- Search Block -->
							<!--<li class="no-border">-->
							<!--	<i class="search fa fa-search search-btn"></i>-->
							<!--	<div class="search-open">-->
							<!--		<div class="input-group animated fadeInDown">-->
							<!--			<input type="text" class="form-control" placeholder="ex)살치살">-->
							<!--			<span class="input-group-btn">-->
							<!--				<button class="btn-u" type="button">검색</button>-->
							<!--			</span>-->
							<!--		</div>-->
							<!--	</div>-->
							<!--</li>-->
							<!-- End Search Block -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
